header {
    background-color: var(--background-color-softer);
    margin: 0;
    padding: 2rem 1.5rem;

    border-bottom: 1px solid var(--border-color);

    .header-home {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 1.5rem;
        text-decoration: none;
        color: var(--text-color-normal);
    }

    img {
        display: block;
    }

    .site-name {
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    @media (min-width: 700px) {
        padding: 3rem 6rem;

        .site-name {
            font-size: 3rem;
        }
    }
}



